.navbar {
    background: darkred;
    color: goldenrod;
    height: auto;
    
}
.title {
    font-size: 48px;
}
.gold, .score {
    font-size: 20px;
}
.green, .red, .blue, .yellow {
    font-size: 36px;
    font-weight: bold;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
.yellow{
    color: yellow;
}
.red {
    color: red;
}